body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  background-image: url(dancePartyBackground_GalacticPrison.png);
}
.title {
  float:right;
  length:auto;
  margin-left: 20px;
  background-color: #555;
}
.addDancerButton {
  float:right;
  length:auto;
  margin-left: 20px;
  margin-top: 4px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.morty {
  position: absolute;
}

.mortyReflect {
/*  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);*/
  transform: scaleX(-1);
/*  filter: FlipH;
  -ms-filter: "FlipH";*/
}

.rick{
  border:none;
  border-radius:none;
}

.spin{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



